@charset "utf-8";
/* CSS Document */
.inHeader{
	width:1200px;
	margin:0 auto;
	overflow:hidden;
	}
.header h1{
	float:left;
	width:300px;
	}
.style{
	float:right;
	margin-top:20px;
	}
.style p{ float:left; line-height:15px; color:#999999;}
.style span{
	width:15px;
	height:15px;
	display:inline-block;
	float:left;
	margin:0 3px;
	cursor:pointer;
	}
.chatArea{
	min-height:700px;
	background:url(../images/bg1.jpg) no-repeat top;
	background-size:cover;
	padding:0 2%;
	}
.inChatArea{
	width:1200px;
	margin:0 auto;
	padding:20px 0;
	}
.chatSidebar{
	width:150px;
	float:left;
	padding-bottom:20px;
	}
.chatCon{
	width:680px;
	height:500px;
	float:left;
	margin-left:25px;
	}
.ad{
	width:315px;
	height:635px;
	background:green;
	float:right;
	}
.chatSidebar h2{
	background:#00ae10;
	font-size:14px;
	line-height:40px; height:40px;
	padding:0 10px;
	color:#ffffff;
	font-family:微软雅黑;
	}
.chatSidebar ul{
	line-height:30px;
	}
.chatSidebar ul li{
	background:rgba(0,0,0,0.2);
	margin-bottom:1px;
	padding-left:15px;
	}
.chatSidebar ul li:hover{background:rgba(0,0,0,0.3);}
.up{
	height:300px;
	background:rgba(0,0,0,0.2);
	margin-bottom:30px;
	padding:15px;
	overflow:auto;
	}
.up em{ font-style:normal; background:#FF6600; color:#FFFFFF; padding:3px 5px; margin:0 5px; float:left;}
.up b{ font-weight:normal; background-color:#333333; padding:2px 5px; color:#f4f4f4; float:left;}
.up span{ background:#f4f4f4; padding:3px 5px; float:left; max-width:480px;}
.up ul li{ margin-bottom:10px;overflow:hidden;}
.down{
	background:#ffffff;
	padding:15px;
	}
.down textarea{
	width:99%;
	height:50px;
	margin-top:5px;
	resize:none;
	}
.otherArea{ position:relative;}
.otherArea .bqb{ 
	position:absolute; 
	width:424px; 
	height:190px; 
	background:#fff; 
	top:-202px; 
	left:-15px; 
	padding-top:8px; 
	padding-left:8px;
	border:1px solid #ccc;
	}
.otherArea .bqb img{
	border:1px solid #fff;
	padding:3px;
}
.otherArea .bqb img.current{
	border:1px solid #000;
	cursor:pointer;
}
.otherArea span{
	background:url(../images/bq.gif) no-repeat;
	width:16px;
	height:16px;
	display:block;
	text-indent:-9999px;
	cursor:pointer;
	}
.down .btn{
	width:101px;
	height:33px;
	background:url(../images/btn.gif) no-repeat;
	border:0;
	cursor:pointer;
	margin-left:auto;
	display:block;
	margin-top:10px;
	}
