@charset "UTF-8";

.imgnews-item {
	position: relative;
}

.imgnews-item span {
	background-color: #000;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	position: absolute;
	left: 80;
	bottom: 0;
	width: 10%;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
	font-size: 14px;
	text-align: center;
}

.imgnews-item em {
	position: absolute;
	left: 80;
	bottom: 0;
	width: 10%;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
	font-size: 14px;
	text-align: center;
	color: #FFF;
	font-style: normal;
}