@charset "utf-8";
/* CSS Document */
/*CSS reset*/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,input,button,fieldset, legend,img { margin:0; padding:0; }
h1,h2,h3{ font-size:14px;}
body{ font-size:12px; font-family:Arial, Helvetica, sans-serif;}
li{ list-style:none;}
a{ text-decoration:none;}
.top{
	background:#055c92;
	}
.inTop{
	width:1200px;
	margin:0 auto;
	height:40px;
	line-height:40px;
	color:#ffffff;
	}
.inTop a{
	color:#FFFFFF;
	margin:0 5px;
	}
.inTop a:hover{
	text-decoration:underline;
	color:#FF9900;
	}
.inTop p{ float:left;}
.inTop span{ float:right; font-family:Arial, Helvetica, sans-serif;}
.inTop strong{ margin-left:20px;}

.header{
	height:59px;
	background:url(../images/header_bg.gif) repeat-x;
	border-bottom:#0567a2 solid 3px;
	overflow:hidden;
	}
.header h1{
	height:59px;
	width:1200px;
	margin:0 auto;
	background:url(../images/logo0.gif) no-repeat;
	text-indent:-9999px;
	}

.con{
	height:525px;
	width:780px;
	/*border:#000000 solid 1px;*/
	position:relative;
	float:left;
	margin-top:20px;
	}
.inCon{
	width:680px;
	height:494px;
	/*border:#FF0000 solid 1px;*/
	margin:0 auto;
	position:relative;
	overflow:hidden;
	}
.imgList{
	width:9999px;
	height:494px;
	/*border:#00FF00 solid 1px;*/
	position:absolute;
	top:0;
	left:0;
	}
.imgList li{
	float:left;
	}
.left,.right{
	width:26px;
	height:53px;
	/*border:#FF0000 solid 1px;*/
	position:absolute;
	top:200px;
	cursor:pointer;
	}
.left{left:0; background:url(../images/left0.png) no-repeat;}
.right{ right:0;background:url(../images/right0.png) no-repeat;}
.left:hover{background:url(../images/left1.png) no-repeat;}
.right:hover{background:url(../images/right1.png) no-repeat;}
.btnList{
	position:absolute;
	bottom:10px;
	left:50%;
	margin-left:-80px;
	}
.btnList li{
	width:10px;
	height:10px;
	background:#E4E4E4;
	border-radius:50%;
	float:left;
	margin:5px;
	cursor:pointer;
	}
.btnList li.current{background:#CCCCCC;}

/*登录*/
.loginMain{
	width:1200px;
	height:550px;
	margin:0 auto;
	/*border:#0066CC solid 1px;*/
	position:relative;
	}
.loginArea{
	width:340px;
	height:380px;
	background:#f0f0f0;
	border:#CCCCCC solid 1px;
	float:right;
	padding:25px;
	margin-top:50px;
	}
.loginArea h2{
	font-size:24px;
	margin-bottom:20px;
	}
.loginArea p{
	line-height:50px;
	font-size:18px;
	color:#666666;
	}
#myText{
	width:98%;
	height:50px;
	line-height:50px;
	background:#FFFFFF;
	border:#CCCCCC solid 1PX;
	border-radius:3px;
	margin:5px 0;
	padding-left:2%;
	color:#999999;
	}
	
#myPassword{
	width:98%;
	height:50px;
	line-height:50px;
	background:#FFFFFF;
	border:#CCCCCC solid 1PX;
	border-radius:3px;
	margin:5px 0;
	padding-left:2%;
	color:#999999;
	}
	
#checkImg{
    width:20%;
    height:50px;
    line-height:50px;   /* 定义行高*/  
    background:#FFFFFF;
    border:#CCCCCC solid 1PX;
    border-radius:3px;
    margin:0 0;
    padding-left:2%;
    color:#999999;
    }	

/*注册按钮*/
#reg{
	width:40%;
    height:50px;
    background:#f40;
    color:#FFFFFF;
    line-height:50px;
    border:0;
    cursor:pointer;
    font-size:18px;
    margin-top:30px;
  }	
		
.loginArea button{
	width:40%;
	height:50px;
	background:#f40;
	color:#FFFFFF;
	line-height:50px;
	border:0;
	cursor:pointer;
	font-size:18px;
	margin-top:30px;
	}
.loginArea button:hover{ background:#f60;}
#remember{ position:relative; top:3px;}
.loginArea label{
	color:#999999;
	margin-left:5px;
	}

/*注册*/
.registMain{
    width:350px;
    height:10px;
    margin:0 auto;
    /*border:#0066CC solid 1px;*/
    position:relative;
    }
.registArea{
    width:300px;
    height:500px;
    background:#f0f0f0;
    border:#CCCCCC solid 1px;
    float:right;
    padding:25px;
    margin-top:50px;
    }
.registArea h2{
    font-size:24px;
    margin-bottom:20px;
    }
.registArea p{
    line-height:50px;
    font-size:18px;
    color:#666666;
    }
#myText{
    width:98%;
    height:50px;
    line-height:50px;
    background:#FFFFFF;
    border:#CCCCCC solid 1PX;
    border-radius:3px;
    margin:20px 0;
    padding-left:2%;
    color:#999999;
    }
    
#myPassword{
    width:98%;
    height:50px;
    line-height:50px;
    background:#FFFFFF;
    border:#CCCCCC solid 1PX;
    border-radius:3px;
    margin:40px 0;
    padding-left:2%;
    color:#999999;
    }

#myPassword2{
    width:98%;
    height:50px;
    line-height:50px;
    background:#FFFFFF;
    border:#CCCCCC solid 1PX;
    border-radius:3px;
    margin:40px 0;
    padding-left:2%;
    color:#999999;
    }    
        
.registArea button{
    width:100%;
    height:50px;
    background:#f40;
    color:#FFFFFF;
    line-height:50px;
    border:0;
    cursor:pointer;
    font-size:18px;
    margin-top:40px;
    }
.registArea button:hover{ background:#f60;}
#remember{ position:relative; top:3px;}
.registArea label{
    color:#999999;
    margin-left:5px;
    }
    
	
.footer{ background:#2f69a9; padding-top:25px;}
.footer p{
	height:70px;
	color:#FFFFFF;
	text-align:center;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	}
